@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}
.navIndex {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #90d1ca;
    background: linear-gradient(
        140deg,
        rgba(9, 107, 104, 1) 0%,
        rgba(18, 153, 144, 1) 48%,
        rgba(144, 209, 202, 1) 100%
    );
    height: 60px;
}

.navIndex a {
    text-decoration: none;
    color: #fffbde;
    font-weight: bold;
    transition: background-color 0.2s;
    margin-right: 60px;
}
.navIndex a:hover {
    color: #096b68;
}
.content {
    display: flex;
    background: #096b68;
    background: linear-gradient(
        20deg,
        rgba(9, 107, 104, 1) 0%,
        rgba(18, 153, 144, 1) 50%,
        rgba(144, 209, 202, 1) 100%
    );
}

.left img {
    height: 100vh;
    border-radius: 20px;
    min-height: auto;
}

.left {
    width: 50%;
    height: 100vh;
    text-align: left;
}

.title {
    color: #fffbde;
    font-size: 200%;
    margin-top: 270px;
    margin-left: 100px;
    animation: fadeIn 0.5s ease;
}

.description {
    color: #ffffff;
    width: 80vh;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 20px;
    animation: fadeIn 0.5s ease;
}
#name {
    color: #fff1de;
}
#name::after {
    content: "|";
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

hr {
    border: 1px solid #0e8d89;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media only screen and (max-width: 768px) {
    .content {
        max-width: 95%;
    }
}

@media only screen and (max-width: 480px) {
    .content {
        max-width: 100%;
    }
}
