@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
	font-family: "Roboto", sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

#nav {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90px;
}

#nav a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	padding: 30px 0;
	transition: background-color 0.2s;
}

#nav a,
#nav input {
	margin: 0 50px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

#nav a:hover {
	color: #096b68;
}

#search input {
	top: 50%;
	position: relative;
	padding: 10px 40px 10px 15px;
	border: 2px solid #096b68;
	border-radius: 25px;
	font-size: 16px;
	outline: none;
}

#search button {
	position: relative;
	left: -25%;
	top: 50%;
	border: none;
	background: none;
	font-size: 16px;
	cursor: pointer;
	color: #096b68;
}

#nav :last-child {
	color: #096b68;
	margin: 0 -10px;
}

hr {
	border: 1px solid #096b68;
}
