<div id="nav">
	<a href="./index.html">Trang chủ</a>
	<a href="./introduce.html">Giới thiệu</a>
	<a href="./rules.html">Nội quy</a>
	<a href="./contact.html">Liên hệ</a>
	<div id="search">
		<input type="text" placeholder="Tìm kiếm..." />
		<button class="fa-solid fa-magnifying-glass top"></button>
	</div>
	<a href="./profile.html" class="fa-regular fa-user" style="color: #096b68"></a>
	<a href="./index.html" onclick="logout()" class="fa-solid fa-right-from-bracket" style="color: #096b68"></a>
</div>
