#navAdmin {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90px;
}
#navAdmin a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	padding: 30px 0;
	margin: 0 50px;
}
#navAdmin a:hover {
	color: #096b68;
}

#user {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}
.block,
.blockUser {
	width: 450px;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	color: #222831;
	margin: 10px auto;
	animation: fadeIn 0.5s ease;
}
.textLeft {
	text-align: left;
}

.blockUser:hover {
	background-color: #096b68;
	color: antiquewhite;
	cursor: pointer;
}
#user img {
	height: 140px;
	border-radius: 10px;
	float: left;
	margin-right: 10px;
}
